body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#fetchButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    transition: background-color 0.3s, transform 0.3s;
}

#fetchButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#picture {
    display: none;
    margin-top: 20px;
    max-width: 100%; /* Ensure it scales responsively */
    height: auto; /* Maintain aspect ratio */
    border-radius: 12px; /* Rounded corners for the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the image */
}
